@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{ 
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript">
    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44352/MyHub");

    $("#conStatus").text(connection.connectionState);

    connection.start().then(() => {
    }).catch((err) => { console.log(err) });
    $("#btnNameSave").click(() => {
        connection.invoke("SendName")
    });


</script>
}
<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">İsim Kaydet</button>
        <div class="alert alert-info">
            Bağlantı Durumu: <strong id="conStatus"></strong>
        </div>
    </div>
</div>